doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
    link(href="https://www.freelanceleague.co/assets/styles.css" rel="stylesheet")

  body
    .l-main
      .l-main__content
        .c-main-copy
          h2= message
          h3= error.status
          pre #{error.stack}
